{
  "env": {
    "development": {
      "compact": "auto",
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "useBuiltIns": "entry"
          }
        ],
        "@babel/react",
        "@babel/stage-3"
      ],
      "plugins": ["@babel/transform-react-jsx-source", "react-hot-loader/babel"]
    },
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "useBuiltIns": "entry"
            // "uglify": "true"
          }
        ],
        "@babel/react",
        "@babel/stage-3"
      ],
      "plugins": []
    },
    "server": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "useBuiltIns": "entry"
          }
        ],
        "@babel/react",
        "@babel/stage-3"
      ],
      "plugins": ["@babel/transform-react-jsx-source"]
    }
  }
}
